[submodule "components/EasyLogger"]
	path = components/EasyLogger
	url = https://github.com/armink/EasyLogger.git
[submodule "components/FlashDB"]
	path = components/FlashDB
	url = https://github.com/armink/FlashDB.git
